#mainNavbar {
    font-size: 18px;
    z-index: 10;
    border-bottom: 1px solid grey;
}

.preserve-hidden {
    visibility: hidden;
}

/* Chrome, Safari, Edge, Opera */
input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

/* Firefox */
input[type=number] {
    -moz-appearance: textfield;
}

#goto-number {
    width: 3.5rem;
}

#options {
    min-height: 10rem;
}